html {
scroll-behavior: smooth;
}
@media (max-width: 75em) {
    html {
        font-size: 50%;
    }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 50%;
    }
  #text{
    font-size: 38px;
  }
}
@media (max-width: 110em){
    html {
        font-size: 55%;
    }
}
*{
    margin: 0 ;
    padding: 0;
}
/* NAV BAR */
.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background: black;
    width: 100%;
    top:0;
    left: 0;

}
ul{
    display:flex;
    list-style: none;
}
a {
    text-decoration: none;
    font-weight: 500;
}
.nav-list a {
    display: flex;
    color: white;
    box-sizing: border-box;
    font-size: 3rem;
    padding: 2rem;
}
.nav-list a:hover{
    background-color: purple;
}
/* END nav bar */
/* WELCOME */
#welcome-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: grey;
}

h1 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
    text-align: center;
    font-weight: 700;
}
#introduction{
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: white;
}
/* END of welcome */
/* Projects */
#projects{

    display: flex
    flex-direction: column;
    background: rgb(245, 228, 245);
    width: 100%;
    height: 100vh;
    padding: 10rem;
}
h2{
    text-decoration: underline;
    padding: 1rem;;    
    text-align:left;
    font-size: 30px;
    margin-left: 2rem;
}
.project-image{
    height: 30rem;
    width: 32rem;
    margin-left: 2rem
}
#project-name{
    color: white;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;;
    height: 4rem;
    width: 32rem;
    background: black;
    font-size: 20px;
    text-align: center;
    padding: 1rem 1rem;
    margin-left: 2rem;
    margin-right: 0;
    margin-top: 0;

}
/* END of projects */
/* Contacts */
#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: gray;
    padding: 10rem 2rem;
}
h3{
    font-size: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
p{
    font-size: 4rem;
    text-align: center;
    font-style: italic;
    color: white;
}
.contact-links{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 20rem;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    background: brown;
    font-size: 3rem;
    padding-top: 1rem;
}
a{
    color: black;
    font-weight:bold ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* END of contacts */